<h1> {{#link-to 'post' post.id}}{{post.title}} - {{post.text}} {{/link-to}} </h1>

<li>{{post.date}}</li>

<p>{{post.text}}</p>

<!-- {{update-post post=post update="update"}}
<button {{action 'delete' post}}>Delete Post</button> -->
